.faq-accordion-block .faq-row {
  border: 1px solid #eaeaea;
}
.faq-accordion-block .faq-row strong {
  background: #f1f1f1;
  display: block;
  padding: .5rem;
}
.faq-accordion-block .faq-row p {
  display: block;
  padding: 0 .5rem;
}