/* Custom Admin Styles */
.editor-styles-wrapper {
  font-family: "Open Sans", sans-serif;
}

.editor-styles-wrapper .is-root-container {
  margin: 0 auto !important;
  max-width: 64rem/* 1024px */;
}

.edit-post-visual-editor__post-title-wrapper {
  border-bottom: 1px solid #e2e4e7;
  padding-bottom: 2rem;
}

.edit-post-visual-editor__post-title-wrapper h1 {
  margin: 0 auto !important;
  max-width: 64rem/* 1024px */;
}